<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome {{uname}}</h1>
    <h4>You are sucess fully registred</h4>
    <h6>To activate your account click the below link</h6>
    <a href="http://127.0.0.1:9999/act/{{id}}">activate account</a>
</body>
</html>