<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>welcome {{email}}</h1>
    <h4>Hey you want to reset your password </h4>
    <h6>To reset your password click the below link</h6>
    <a href="http://127.0.0.1:9999/reset_p/{{id}}">Reset password</a>
</body>

</html>