<footer class="bg-dark text-white py-1 align-text-bottom" 
style="  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;">
    <p align="center"> Copyright &copy; 2022. All right Reserved</p>
</footer> 